@import './scss/index';

body {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 100%;
  flex-flow: row wrap;
  color: $color-black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

h1 {
  font-size: 24px;
}
