@use 'sass:color';
@use 'sass:map';

$breakpoints: (
  xs: 375px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1920px,
  xxxl: 2560px
);

@mixin breakpoint($point) {
  @media (min-width: map.get($breakpoints, $point)) {
    @content;
  }
}

@function grid($multiplier) {
  @return $grid-module * $multiplier;
}

@mixin flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex_vcenter {
  display: flex;
  align-items: center;
}

@function color_adjust_alpha($color, $amount) {
  @return color.adjust($color, $alpha: -$amount);
}
